body {
    background: url(../images/1.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Open Sans', sans-serif;
}

.formGetBook{
    width: 600px;
    height: 450px;
    position: relative;
    margin: 50px auto;
    top: 100px;
    background: #003333;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 3px 3px 3px #000;
    display: block;
}

.headerFormGetBook {
    color: #fff;
    width: 100%;
    position: relative;
    top: 20px;
}

.headerFormGetBook p {
    font-size: 40px;
    text-align: center;
}

.headerFormGetBook div{
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 20px;
    color: #999999;
}

.ip {
    width: 100%;
    display: flex;
    position: relative;
    top: 40px;
}

.ip p {
    width: 30%;
    position: relative;
    left: 20%;
    color: #fff;
    font-size: 20px;
}

.ip input {
    width: 40%;
    position: relative;
    left: 10%;
    outline: none;
    font-size: .9em;
    padding: 1em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.btnGetBook {
    position: relative;
    display: flex;
    top: 70px;
}

.btnGetBook button {
    width: 100px;
    position: relative;
    left: 30%;
    margin-left: 5%;
}

.getBody {
    background: url(../images/1.jpg)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Open Sans', sans-serif;
}