body {
    margin: 0;
    padding: 0;
    background: #DDDDDD;
}

.menu {
    width: 100%;
    background: #336633;
    position: fixed;
    height: 70px;
    z-index: 999;
}

.menu ul {
    width: 90%;
    position: relative;
    height: 100%;
    left: 5%;
    display: flex;
    text-align: center;

}

.menu ul li {
    width: 33.33%;
    line-height: 70px;
    list-style-type: none;
    transition: all 0.5s;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header {
    margin: 0;
    padding: 0;
    background-image: url(../images/1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    top: 70px;
    z-index: 10;
}

.header-content {
    color: #fff;
    position: relative;
    top: 150px;
    font-size: 50px;
}

.header-slogan {
    color: #fff;
    position: relative;
    top: 120px;
    width: 40%;
    color: #AAAAAA;
    left: 30%;
}

.search {
    position: relative;
    top: 140px;
    width: 30%;
    left: 35%;
}

.search input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 1em 3em 1em 1em;
    border: none;
    margin-bottom: 0.3em;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    border-radius: 30px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.search button {
    margin: 5%;
    width: 100px;
    height: 45px;
}



.navbar {
    position: relative;
    top: 70px;
}

.end {
    position: relative;
    top: 70px;
    width: 100%;
    height: 200px;
    background: #003300;
    display: flex;
    z-index: 10;
}


.logo {
    font-size: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    width: 30%;
    left: 3%;
    top: 25px;
    height: 10px;
}

.end-content {
    font-size: 14px;
    color: #AAAAAA;
    position: relative;
    position: relative;
    text-align: justify;
    width: 28%;
    left: 5%;
    top: 50px;
    height: 10px;
}

.contact {
    font-size: 14px;
    color: #AAAAAA;
    position: absolute;
    right: 0%;
    width: 35%;
    top: 90px;
    height: 10px;
    display: flex;
}

.face img{
    width: 30px;
    position: absolute;
}

.inta img{
    width: 30px;
    position: absolute;
    left: 55px;
}

.phone {
    position: absolute;
    left: 105px;
}

.phone img {
    width: 34px;
}

.author {
    font-size: 14px;
    color: #AAAAAA;
    position: relative;
    text-align: center;
    height: 10px;
    width: 40%;
    right: 1%;
    top: 150px;
}
